<div class="info">
  <p>We are in <strong>Paris</strong> this <strong>week!</strong> <a href="#"><%=image_tag('close.png')%></a></p>
</div>
<header class="header">
  <div style="background-color: white">
    <%= link_to "Francais", :controller => 'welcome', :locale => 'fr' %>
    <%= link_to "English", :controller => 'welcome', :locale => 'en' %>
  </div>
  <div class="container">
    <div class="logo"> <a href="#"><%= image_tag('logo.png') %></a> </div>
    <div class="nav"> <a href="#"><%= image_tag('phone.png')%> Contact Us</a> </div>
  </div>
</header>
<section class="slider-outer">

  <div class="flexslider" >
    <ul class="slides" >
      <li>
        <div class="slider-content">
          <h1>We are your own <strong>Personal IT</strong> and <strong>Strategy Team.</strong> </h1>
          <a href="#">Sign Up</a> </div>
        <%= image_tag('slider1.jpg') %>   </li>
      <li>
        <div class="slider-content">
          <h1>We are your own <strong>Personal IT</strong> and <strong>Strategy Team.</strong> </h1>
          <a href="#">Sign Up</a> </div>
        <%= image_tag('slider1.jpg') %>  </li>
      <li>
        <div class="slider-content">
          <h1>We are your own <strong>Personal IT</strong> and <strong>Strategy Team.</strong> </h1>
          <a href="#">Sign Up</a> </div>
        <%= image_tag('slider1.jpg') %>  </li>
    </ul>
  </div>

</section>
<section class="about-company">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-lg-push-8 col-md-push-8 col-sm-push-8">
        <div class="img-outer">
          <%=image_tag('icon1.png')%></div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-lg-pull-4 col-md-pull-4 col-sm-pull-4">
        <div class="inner-wrap">
          <h2>What’s Pro-active?</h2>
          <p> Proactive is a solution that provides modern web master services, support and online strategy.</p>
          <p>We take care of your digital presence (website, social media, newsletter, mobile, SEO and SMO) with a sustained and proactive approach while you take care of running your business. </p>
        </div>
      </div>

    </div>
  </div>
  </div>
</section>
<section class="tested">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="test-icon">
          <%= image_tag('test-icon.png') %>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7">
        <h2>Tested & Approuved</h2>
        <p>Proactive is the  the result of many years of experience dealing with many clients of different fields, facing common problems related to todays complex and technical online ecosystem.</p>
      </div>
    </div>
  </div>
</section>
<section class="partners">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-7">
        <h2>People you can trust</h2>
        <p>We've been in business for over 7 years, we are dependable and already had serviced several agencies, startups, government and corporate clients including: Adobe Canada, Bombardier, Broadcom, Canadian Forces and Bell. </p>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="logos">
          <ul>
            <li><a href="#"><%= image_tag('partner1.png')%></a></li>
            <li><a href="#"><%= image_tag('partner2.png')%></a></li>
            <li><a href="#"><%= image_tag('partner3.png')%></a></li>
            <li><a href="#"><%= image_tag('partner4.png')%></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="packages">
  <div class="container">
    <h2>Our <strong>Packages</strong></h2>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="pro-active">
          <div class="package-title">
            <h3><sup>$</sup>299<span>/ mo</span></h3> <strong class="title">Pro-Active</strong>
          </div>
          <ul>
            <li>3 Anything <span>maintenance</span> hours</li>
            <li>2 Optional strategy consultations billed at $109/h.</li>
            <li>Additional <span>maintenance</span> $99/h (instead of $129) </li>
          </ul>
          <p><span>*Maintenance</span> includes: Website coding, design, updates.
            standard search engine optimization,  social media management. </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="pro-active plus">
          <div class="package-title">
            <h3><sup>$</sup>399<span>/ mo</span></h3> <strong class="title">Pro-active plus</strong>
          </div>
          <ul>
            <li>4 Anything <span>maintenance</span> hours</li>
            <li>3 Strategic consultations per year (up to 1 hour)</li>
            <li>Possibility of spreading cost of mayor IT projects over <span>12 months</span></li>
          </ul>
          <p><span>*Maintenance</span> includes: Website coding, design, updates. Advanced search engine optimization,  social media management.</p>
          <strong class="required">*Months: Subject to management approval.</strong>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sign-up">
  <div class="container">
    <h2>Let’s <strong>Sign Up</strong></h2>
    <form action="/send" method="get">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <input type="text" class="form-control" placeholder="Your Full Name">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <input type="text" class="form-control" placeholder="Company Name">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <select class="form-control">
            <option value="Package Type">Package Type</option>
            <option value="Package Type">Package Type</option>
            <option value="Package Type">Package Type</option>
          </select>
        </div>
        <div class="col-lg-12">
          <input type="submit" value="Sign Up">
        </div>
      </div>
    </form>
  </div>
</section>
<footer class="footer">
  <p>Copyright &copy; 2015 Pro-Active</p>
</footer>

